<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css" rel="stylesheet" />
        <script src="https://cdn.tailwindcss.com"></script>

        <!-- Link to FontAwesome -->
        <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

        <!-- Link to Tailwind Elements -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/tw-elements.min.css" />

        <title>Internship</title>
    </head>
    <body class="m-0 p-0 bg-gray-200">
        <!-- Header -->
        <header class="sticky top-0  bg-gray-800 text-white py-5 flex items-center">
            <div class="logo">
                <img src="logo.png" alt="Internship Logo" class="w-12 h-12 ml-5 rounded-full">
            </div>
            <h1 class="text-2xl mt-2 ml-5 p-0">Internship</h1>
            <a href="/logoutAdmin" class="ml-auto mr-5 bg-red-500 hover:bg-red-700 text-white px-4 py-1 rounded">Logout</a>
        </header>

        <!-- Side Navigation Bar -->
        <nav class="bg-gray-700 text-white w-72 fixed left-0 h-full overflow-y-auto">
            <ul class="py-5 pl-4">
                <li class="mb-4">
                    <a id="admin" class="text-white block py-2 px-4 no-underline hover:bg-gray-700 hover:border-l-4 hover:border-orange-500">Admin</a>
                    <ul id="submenu" class="py-5 pl-4">
                        <li class="mb-4">
                            <a id="userManagement" class="text-white block py-2 px-4 no-underline hover:bg-gray-700 hover:border-l-4 hover:border-orange-500">User Management</a>
                            <ul id="sub-submenu" class="py-5 pl-4">
                                <li class="mb-4"><a href="/admin-manage-student.html" class="text-white block py-2 px-4 no-underline hover:bg-gray-700 hover:border-l-4 hover:border-orange-500">Manage Student</a></li>
                                <li class="mb-4"><a href="/admin-manage-supervisor.html" class="text-white block py-2 px-4 no-underline hover:bg-gray-700 hover:border-l-4 hover:border-orange-500">Manage Supervisor</a></li>
                            </ul>
                        </li>
                        <li class="mb-4">
                            <a href="/admin-manage-company.html" id="companyManagement" class="text-white block py-2 px-4 no-underline hover:bg-gray-700 hover:border-l-4 hover:border-orange-500">Company Management</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

        <!-- Add student -->
        <section class="ml-72 p-5 bg-gray-100 rounded-lg shadow-md">
            <h2 class="text-2xl md:text-3xl mb-5 text-center text-gray-800 font-bold">Add Student</h2>
            
            <form action="/addstudent" autocomplete="on" method = "POST" class=" mx-auto bg-white p-5 rounded-lg shadow">
                <label for="name" class="block text-lg font-medium text-gray-700">Full Name:</label>
                <input type="text" class="w-full px-4 py-2 mb-8 border border-gray-300 rounded-lg text-lg" id="name" name="name" required>

                <label for="email" class="block text-lg font-medium text-gray-700">Email:</label>
                <input type="text" class="w-full px-4 py-2 mb-8 border border-gray-300 rounded-lg text-lg" id="email" name="email" required>
                
                <label for="student_id" class="block text-lg font-medium text-gray-700">ID:</label>
                <input type="text" class="w-full px-4 py-2 mb-8 border border-gray-300 rounded-lg text-lg" id="student_id" name="student_id" required>

                <label for="password" class="block text-lg font-medium text-gray-700">Password:</label>
                <input type="text" class="w-full px-4 py-2 mb-8 border border-gray-300 rounded-lg text-lg" id="password" name="password" required>

                <label for="supervisor" class="block text-lg font-medium text-gray-700">Supervisor:</label>
                <select class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="supervisor" name="supervisor-id">
                    {% for supervisor in supervisors %}
                        <option value="{{ supervisor[0] }}">{{ supervisor[1] }}</option>
                    {% endfor %}
                </select>
               

                <button type="submit" class="mt-10 w-40 py-2 mx-auto block bg-orange-500 text-white rounded-lg focus:outline-none hover:bg-orange-600">Add Student</button>
            </form>
        </section>

        <!-- Link to tailwind -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
        
        <!-- Link to Tailwind Elements -->
        <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/tw-elements.umd.min.js"></script>

        <script src="admin.js"></script>
        <script>
            $(document).ready(function() {
                window.location.href = "/addstudentandassigntosupervisor";
            });

        </script>
    </body>
</html>
