
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css" rel="stylesheet" />
        <script src="https://cdn.tailwindcss.com"></script>

        <!-- Link to FontAwesome -->
        <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

        <!-- Link to Tailwind Elements -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/tw-elements.min.css" />

        <title>Internship</title>
    </head>
    <body class="m-0 p-0 bg-gray-200">
        {% if message == "supervisor_added" %}
        <script>
            alert('Supervisor added!');
        </script>
        {% endif %}
        <!-- Header -->
        <header class="sticky top-0 bg-gray-800 text-white py-5 flex items-center">
            <div class="logo">
                <img src="logo.png" alt="Internship Logo" class="w-12 h-12 ml-5 rounded-full">
            </div>
            <h1 class="text-2xl mt-2 ml-5 p-0">Internship</h1>
            <a href="/logoutAdmin" class="ml-auto mr-5 bg-red-500 hover:bg-red-700 text-white px-4 py-1 rounded">Logout</a>
        </header>
        
        <!-- Side Navigation Bar -->
        <nav class="bg-gray-700 text-white w-72 fixed left-0 h-full overflow-y-auto">
            <ul class="py-5 pl-4">
                <li class="mb-4">
                    <a id="admin" class="text-white block py-2 px-4 no-underline hover:bg-gray-700 hover:border-l-4 hover:border-orange-500">Admin</a>
                    <ul id="submenu" class="py-5 pl-4">
                        <li class="mb-4">
                            <a id="userManagement" class="text-white block py-2 px-4 no-underline hover:bg-gray-700 hover:border-l-4 hover:border-orange-500">User Management</a>
                            <ul id="sub-submenu" class="py-5 pl-4">
                                <li class="mb-4"><a href="/admin-manage-student.html" class="text-white block py-2 px-4 no-underline hover:bg-gray-700 hover:border-l-4 hover:border-orange-500">Manage Student</a></li>
                                <li class="mb-4"><a href="/admin-manage-supervisor.html" class="text-white block py-2 px-4 no-underline hover:bg-gray-700 hover:border-l-4 hover:border-orange-500">Manage Supervisor</a></li>
                            </ul>
                        </li>
                        <li class="mb-4">
                            <a href="/admin-manage-company.html" id="companyManagement" class="text-white block py-2 px-4 no-underline hover:bg-gray-700 hover:border-l-4 hover:border-orange-500">Company Management</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

        <div class="flex flex-grow">
        <!-- Right side content: Manage Company Page -->
        <div class="ml-80 mt-10 px-8 w-full space-y-6">

        <!-- Dashboard Overview -->
        <section class="bg-white p-5 rounded-lg shadow-md">
            <h2 class="text-2xl font-bold mb-6">Dashboard Overview</h2>
            <div class="flex space-x-6">
                <div class="flex items-center">
                    <p class="text-lg font-semibold mr-4">Total Supervisor:</p>
                    <p id="supervisorCount" class="text-xl text-blue-600">0</p> <!-- Dynamic Value -->
                </div>
            </div>
        </section>

        <!-- Search & Filter -->
        <section class="bg-white p-5 rounded-lg shadow-md">
            <div class="flex items-center space-x-4">
                <input type="text" placeholder="Search Companies..." class="border p-2 flex-grow rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400">
                <button class="bg-blue-500 text-white p-2 rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400">Search</button>
            </div>
        </section>

        <!-- Company Listing Table -->
        <section class="bg-white p-5 rounded-lg shadow-md">
            <div class="flex items-center justify-between mb-6">
                <h2 class="text-2xl font-bold">Supervisor Listing</h2>
                <button onclick="navigateAddSupervisorPage()" class="bg-green-500 text-white p-2 rounded-lg hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-400">Add New Supervisor</button>
            </div>
        
            <table class="w-full border-collapse">
                <thead>
                    <tr>
                        <th class="border p-4 text-center">Supervisor ID</th>
                        <th class="border p-4 text-center">Supervisor Name</th>
                        <th class="border p-4 text-center">Email</th>
                        <th class="border p-4 text-center" colspan="2">Actions</th>
                    </tr>
                </thead>
                <tbody id="supervisor-data">
                    <!-- This is a sample row, replicate this structure for each company -->
                    <!-- <tr>
                        <td class="border p-4">2101234</td>
                        <td class="border p-4">ABC Corp</td>
                        <td class="border p-4">Technology</td>
                        <td class="border p-4 text-center">
                            <a href="#editURL" class="text-blue-600 hover:text-blue-800">Edit</a>
                        </td>
                        <td class="border p-4 text-center">
                            <a href="javascript:void(0);" onclick="deleteSupervisor()" class="text-red-600 hover:text-red-800">Delete</a>
                        </td>
                    </tr> -->
                    <!-- List of supervisors content -->
                </tbody>
            </table>
        </section>
    </div>
        </div>

        <!-- Link to tailwind -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
        <!-- Link to Tailwind Elements -->
        <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/tw-elements.umd.min.js"></script>

        <script src="admin.js"></script>
        
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            function navigateAddSupervisorPage() {
                window.location.href = "/admin-add-supervisor.html";
            }

            function logout() {
                window.location.href = "/admin-login.html";
            }

            function fetchSupervisors() {
                fetch('/viewsupervisors')
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(supervisorList => {
                    const supervisorTable = $('#supervisor-data');

                    // Clear any existing rows
                    supervisorTable.empty();

                    supervisorList.forEach(supervisor => {
                        const row = `
                            <tr data-supervisor-id="${supervisor.supervisor_id}">
                                <td class="border p-4">${supervisor.supervisor_id}</td>
                                <td class="border p-4">${supervisor.name}</td>
                                <td class="border p-4">${supervisor.email}</td>
                                <td class="border p-4 text-center">
                                    <a href="javascript:void(0);" onclick="deleteSupervisor('${supervisor.supervisor_id}');" class="text-red-600 hover:text-red-800">Delete</a>
                                </td>
                            </tr>
                        `;

                        supervisorTable.append(row);
                    });
                    updateSupervisorCount();
                })
                .catch(error => {
                    console.error('Error fetching supervisors:', error);
                });
            }

            function deleteSupervisor(supervisor_id) {
                console.log("function work");
                fetch(`/deletesupervisor/${supervisor_id}`, {
                    method: 'DELETE'
                })
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        alert(`Error deleting supervisor: ${data.error}`);
                    } else {
                        alert(data.message);
                        fetchSupervisors();  // Refresh the list after deletion
                    }
                })
                .catch(error => {
                    console.error('Error deleting supervisor:', error);
                });
            }

            function updateSupervisorCount() {
                fetch('/getSupervisorCount')
                    .then(response => response.json())
                    .then(data => {
                        if (data && data.supervisorCount !== undefined) {
                            const supervisorCountElement = document.getElementById('supervisorCount');
                            supervisorCountElement.textContent = data.supervisorCount;
                        }
                    })
                    .catch(error => {
                        console.error('Error fetching supervisor count:', error);
                    });
            }

            

            $(document).ready(function() {

                fetchSupervisors();
            });
        </script>

    </body>
</html>
